ol{
    background-color: blue;
}
#p{
    background-color: aquamarine;
}
#p1{
    background-color: azure;
}
.nam{
    background-color: burlywood;
}
/* *{
    background-color:pink;
} */

#pa{
    background-color: chartreuse;
}
.na{
    background-color: chocolate;
}
p{
    background-color: darkkhaki;
}